/* This applies to all admin and reporting pages */

* {
    box-sizing: border-box;
}

:root {
    --side-container-width: 150px;
}

.display_topleft {
    position: absolute;
    left: 10px;
    top: 10px;
}

.display_bottomleft {
    position: absolute;
    left: 50px;
    bottom: 10px;
}

.button{
    background-color: hsl(206 100% 25%);
    width: 100%;
    color: white;
    text-align: center;
    border: none;
    padding: 25px 15px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s, transform 0.2s;
    margin: 2px 0;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: hsl(206 100% 75%);
    /*transform: scale(1.10);*/
    color:white;
    
}


/* The horizontal bar that appears on the bottom of an <a> when it is hovered over */
.button::after {
    content: "";
    position: absolute;
    top: 50%;
    right:0;
    transform: translateY(-50%);

    width: 5px;
    height:0;
    background-color: hsl(206, 100%, 89%);
    transition: height 0.4s;
}

.button:hover::after {
    height: 100%;
}

.side-container {
    position: fixed;
    width: var(--side-container-width); /* 注意！這個要跟 .main 的 margin-left 一樣 */
    height: 100vh;
    /* border: 1px solid blue; */
    /* top: 50%; */
    /* left: 0; */
    /* transform: translateY(-50%); */
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    background:hsl(206 100% 25%);
    z-index: 1;
}

.adminHeader{
    font-size: 25px;
    padding: 0 15px;
    font-family: "Times New Roman";
    color:white;
    float:left;
}

body{
    margin: 0;
    font-family: "Times New Roman";
}


.main{
    margin-left: var(--side-container-width); /* 注意！這個要跟 .side-container 的 width 一樣 */
    width: calc(100vw - var(--side-container-width));
    /* border: 1px solid red; */
    background-color: white;
   /* overflow: hidden;  直接隐藏所有溢出内容 */
}

/* #container {
    right:0;
    width: 100%;
    height: 100vh; 
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}  */


@media (max-width: 768px) { 
    #container {
        height: 100vh;
        width: 50%;  /* 在小屏幕上减小高度 */
    }
}
header{
    /* border: 1px solid red; */
   background-color: hsl(206 100% 30%);
   padding: 20px 30px;
   text-align: left;
   font:50%;
   color:white;
   font-weight: bold;
}