.admin_container {
    display: flex;

}
.admin_table{
    margin:20px 40px;
    height: 15vh;
    /* width: 80vw; */
    padding: 10px;
    border-collapse: collapse;
    text-align:center;
}
.admin_header{
background-color:aliceblue;
font-size: 20px;
height:8vh;
}
.content{
 
    width: 80vw;
}
.row:hover{
    background-color:hsl(206 100% 25%);
    color:white;

}
.row{
    /* background-color: rgb(209, 227, 252); */
    height: 5vh;
}

 .searchBar{
height: 30px;
/* width: 100%; */
 margin:25px 5px;
 text-align: end;
    } 

.add{
    width: 20%;
    height:35px;
    margin: 5px 5px;
    padding: 10px 15px;
    background-color:aliceblue;
    border: none;
    text-align: center;
    text-decoration: none;
    color:black;
    border-radius:20px;
}
.add:hover{
    transform: scale(1.10);
    background-color:hsl(206 100% 25%);
    color:white;
    
}

.add_container{
margin:50px 150px;
font-size: 20px;
text-align: center;
}

.error{
    color:red;
    margin-left: 10px;
    font-size:15px;
}

.subbutton{
    background-color: aliceblue;
    padding:10px 20px;
    border: none;
        border-radius:20px;
}

.subbutton:hover{
    background-color: hsl(206 100% 25%);
    color:white;

}