.block {
    display: inline-table;
    padding: 20px 50px;
    margin: 20px;
    
    height: 10vh;
    width: 15vw;
    border: none;
    color: hsl(206, 100%, 30%);
    text-align: center;
    text-shadow:5px 1px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);

    position: relative;
    cursor: pointer;
    background-size: 300% 300%;
    background-image: linear-gradient(120deg, hsl(206, 100%, 95%), hsl(206, 100%, 90%), hsl(206, 100%, 80%), hsl(206, 100%, 70%));
    transition: color 0.3s ease-in-out;
}

/* 添加动画 */
.block:hover {
    animation: slideGradient 3s linear infinite;
}

.container {
    /* display: flex; */
}

/* 背景渐变滑动 */
@keyframes slideGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.title{
    font-weight:bold;
    font-size: 30px;
    font:blue;
    padding:20px 50px;
    text-decoration: underline;
}

.chart {
/* display: inline-block; */
padding:20px;
}
.bar{
    transform: scale(0.9); 
    transform-origin:center; 
}
.pie{
    /* transform: scale(0.8); 
    transform-origin:center;  */

}
.ranking{
    margin-left: 30%;
}


  .th{
    padding: 0.75rem; 

  }
  .td{
    padding: 0.75rem; 
    border:none;

  
  }
  .th:hover{
background-color: rgb(183, 221, 255);
    
  
  }