.customer_container {
    display: flex;

}
.customer_table{
    margin:20px 20px;
    height: 15vh;
    /* width: 80vw; */
    padding: 10px;
    border-collapse: collapse;  
    text-align:center;
}
.content{
    width: 80vw;
}
.row{
background-color: rgb(209, 227, 252);
}
.row:hover{
    background-color:hsl(206 100% 25%);
    color:white;

}
.searchBar{
    height: 30px;
    /* width: 100%; */
    margin:25px 5px;
    text-align: end;
} 

.customer_detail{
    margin:20px 20px;
    height: 15vh;
    /* width: 80vw; */
    padding: 10px 10px;
    margin-left: 20px;
    text-align:left;
    border-collapse: collapse;
}

td,th{
    padding: 10px 10px;
}

.whole_container {
    display:flex;
} 

/* Styling for purchase history （overriding /pages/order/order.css) */
.order, .orderDetailed {
    background-color: #eee;
}