/* This CSS applies to all pages except admin pages */

* {
    box-sizing: border-box;
}

:root {
    --brand-darkblue: hsl(206 100% 25%);
    --brand-lightblue: hsl(206, 100%, 89%);
}

/************* Styling for dropdown components *************/

.dropdown-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.dropdown-label::after {
    content: "";
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"%23000\"><path d=\"m17.5 4.75-7.5 7.5-7.5-7.5L1 6.25l9 9 9-9z\"/></svg>");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 0.75rem;
    background-color: white;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 7px;
    transition: all 0.2s;
}
.dropdown-label.active::after {
    transform: rotate(180deg);
    transform-origin: center;
}
.dropdown-content {
    display: none;
}
.dropdown-content.showing {
    display: block;
    opacity: 0;
    transform: translateY(-20%);
    transition: all 0.2s;
}
.dropdown-content.fully-shown {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/************* END of styling for dropdown components *************/


body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui;
}

header, main, footer {
    padding-left: 100px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    /* Make header stick to the top */
    position: sticky;
    top: 0;
    z-index: 999;

    width: 100vw;
    background-color: black;
    color: white;

    /* border-bottom: 2px solid rgb(106, 190, 255); */

    /* display: flex; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-nav-store-logo {
    width: 125px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav > a {
    /*display: inline-block;  Allows vertical paddings to work */
    padding: 30px 0px;
    position: relative;
    opacity: 0.9;
    /* transition: background-color 0.2s ease; */
}
/* The horizontal bar that appears on the bottom of an <a> when it is hovered over */
header nav > a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0%;
    height: 5px;
    background-color: var(--brand-lightblue);
    transition: all 0.4s;
}
header nav > a:hover {
    opacity: 1;
    /* background-color: hsla(203, 100%, 91%, 0.289); */
}
header nav > a:hover::after {
    width: 100%;
}

/*********************************************
    Styling for cart button and cart popup 
**********************************************/

.cart-btn img {
    cursor: pointer;
    width: 50px;
}

.cart-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.cart-popup .content {
    /* display: none; */
    background-color: white;
    color: black;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: all 0.1s;
}

.cart-popup .content.slide-down {
    top: 0px;
    opacity: 1;
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 1em;
    cursor: pointer;
}

table{
    margin: 0 auto;
    background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
    font-size: 20px;
    text-align: center;
    padding: 20px;
    /* height: 100%; */
    width: 100%;
    box-shadow: 0 0 10px black;
}

th,td{
    padding: 20px;
    color:#7af4d7;
    font-family: "Lucida Console", "Courier New", monospace;
}

.minusBtn button{
    background-color: red;
    color: rgb(70, 13, 13);

}

.paymentBtn button{
    background: radial-gradient(circle 280px at 0% 0%, #5ce973, #018a38);
    border: none;
    margin-top: 10px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #032d14;
    border-radius: 3px;
    font-family: "Lucida Console", "Courier New", monospace;
    box-shadow: 0 0 10px rgb(6, 211, 54);
}

/* Styling for account button and dropdown. Only visible when signed in */

.account {
    position: relative;
    padding: 5px;
}

.account-icon {
    width: 40px;
    height: 40px;
}

.account .dropdown-content {
    position: absolute;
    right: 0;  
    top: 160%;
    background-color: black;
    border-radius: 5px;
    /* background-color: #555; */
    width: 300px;
    padding: 10px;
    /* display: none; */ /* Note: Do NOT add `display: none;` here, as this will interfere with dropdown behavior defined further up in app.css, which is supposed to apply to all .dropdown elements */
}

.account .dropdown-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.account .profile-pic {
    width: 60px;
    height: 60px;
}
.account .username {
    font-size: 18px;
    font-weight: bold;
    min-width: 0; /* Overrides min-width: auto, a default behavior for a flex-item with flex-direction: row. By default, flex items cannot be smaller than its content size along the main axis. This means the following default properties are applied -- min-width: auto for row-direction flex items, and min-height: auto for column-direction flex items. */
    overflow-wrap: break-word; /* For very long words, e.g. cookiesaresodeliciousomg, it will be broken at any point according to the defined width, e.g. cookiesa <br> resodeli <br> ciousomg. By default, overflow-wrap: normal, which means very long words will overflow even if it's longer than the containing element's width. This is not related to the normal breaking of words, as that is handled by the `word-wrap` property. */
}

.account .dropdown-main {
    padding: 0 5px;
}

.account .dropdown-item {
    padding: 4px 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 10px;

    /* Override default <button> styles */
    /* background-color: none;
    border: none;
    color: inherit; */
}
.account .dropdown-item:hover {
    background-color: rgb(255,255,255,0.2);
}
.account .dropdown-item span img {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

/* Special style for signup button */
header nav a.signup {
    color: var(--brand-lightblue);
}

header nav a.signup:hover, header nav a.signup::after {
    background: linear-gradient(45deg,  var(--brand-lightblue), #23d5ab);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}
header nav a.signup:hover {
    background-clip: text; 
    color: transparent;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Main */

main {
    flex-grow: 1;
    background-color: #eee;
}

/* Footer */

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100vw;
    background-color: #000;
    color: #ddd;
}

/* Error text */
.error {
    color: darkred;
}

.error br {
    display: block;
    margin-top: 3px;
}


/* The following CSS only applies to index.php */

.slideshow {
    position: relative;
    margin: 0 -100px;
    /* width: 100vw;
    height: 80vh; */
    /* border: 1px solid; */
    background-color: #fff;
    background-image: url("../assets/img/badminton-player.jpg");
    width: 100vw;
    height: 80vh;
    background-size: 100%;
    background-position: 0 -200px;
    background-repeat: no-repeat;
    /* object-position: 50% 50%; */
}
.slideshow img {
    width: 100vw;
    height: 80vh;
    object-fit: contain;
    object-position: 50% 50%;
    /* border: 1px solid; */
}
.caption {
    position: absolute;
    bottom: 50px;
    left: 100px;
}
.caption h1 {
    font-size: xx-large;
    color: var(--brand-darkblue);
}

.main-section {
    padding: 50px 0;
}

