.password-input-box {
    position: relative;
    /* width: fit-content; */
}
.visibility-toggle-icon {
    position: absolute;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: linear-gradient(to right, transparent 0%, white 30%);
    padding-left: 10px;
}

.password-strength-tester {
    /*padding-top: 0; /* will be set to 10px when user starts typing in the password field */
    /* border:1px solid black; */
    height:0;
    overflow:hidden;
    transition: all 0.5s ease-in-out;
}
/* .form-item:has(input#password:focus) .password-strength-tester {
    max-height:500px;
} */
.password-strength-tester p {
    margin: 0;
    color: #666;
}
.password-strength-tester p.good {
    margin: 0;
    color: initial;
}

.password-strength-tester p:before, .password-strength-tester p.good:before {
    display: inline-block;
    vertical-align: baseline; /* or baseline */
    transform: translateY(0.1em);
    width: 1em; /* match text size */
    height: 1em;
    margin-right: 0.5em; /* spacing from text */
}
.password-strength-tester p:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='-20 -20 40 40' fill='none'%3E%3Ccircle cx='0' cy='0' r='20' fill='gray'/%3E%3Cline x1='-8' y1='-8' x2='8' y2='8' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3Cline x1='-8' y1='8' x2='8' y2='-8' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E"); /* Gray cross */
}
.password-strength-tester p.good:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='-20 -20 40 40' fill='none'%3E%3Ccircle cx='0' cy='0' r='20' fill='green'/%3E%3Cline x1='-12' y1='0' x2='-4' y2='8' stroke='white' stroke-width='3' stroke-linecap='round' /%3E%3Cline x1='-4' y1='8' x2='10' y2='-6' stroke='white' stroke-width='3' stroke-linecap='round' /%3E%3C/svg%3E"); /* Green checkmark */
}
input#password.not-strong-enough {
    border: 2px red solid;
}