.form-group {
    position: static;
    margin: 20px auto;
}
.form-group:first-child {
    margin: 0 auto;
}
.form-group .label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.form-group input[type=text], .form-group input[type=password], .form-group textarea , .form-group select{
    background-color: #f8f8f8;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: inherit;
    font-size: inherit;
    width: 400px;
    max-width: 100%;
}

.btn-simple {
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 1em;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #cb3816;
    color: white;
    margin-top: 20px;
}
.btn-simple:hover {
    opacity: 0.8;
    cursor: pointer;
}
.btn-green {
    background-color: green;
    color: white;
}

.password-input-box {
    position: relative;
    width: fit-content;
}
.visibility-toggle-icon {
    position: absolute;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.error {
    color: red;
}