.display_topleft {
    position: absolute;
    left: 0;
    top: 0;
}

.display_topright {
    position: absolute;
    right: 0;
    top: 0;
}

.display_bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}

.display_bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
}

.display_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.display_left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.display_right {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.display_topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

.display_bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

.left{
    float:left!important
}

.right{
    float:right!important
}

.button{
    background-color: white;
    color: black;
    border: none;
    padding: 20px 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px 0;
}

.button:hover {
    background-color: #2d4ce7;
    transform: scale(1.05);
    color:white;
}

.button-container {
    position: fixed; /* 固定在左侧 */
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* 垂直居中 */
    display: flex;
    flex-direction: column; /* 让按钮纵向排列 */
    background:white; /* 添加背景色，看起来更清晰 */
}

span{
    font-size: 20px;
    font-family: "Times New Roman";
}
body{
font-family: "Times New Roman";
}