.tableHead th{
    position: relative;
    background-color: rgb(238, 238, 238);
    font-size: 30px;
    letter-spacing: 2px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

}

.tableHead td{
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid rgb(238, 238, 238);
    padding: 30px;
}

.paymentBtn button{
    position: absolute;
    background: radial-gradient(circle 280px at 0% 0%, #5ce973, #018a38);
    border: none;
    margin-top: 10px;
    font-size: 30px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #032d14;
    border-radius: 3px;
    font-family: "Lucida Console", "Courier New", monospace;
    box-shadow: 0 0 10px rgb(6, 211, 54);
    bottom: 10%;
    right: 5%;
}