h1{
    text-align : center;
    background-color: green;
    color:white;
}


.menu{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav{
  flex: 1;
  navulext-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  padding: 20px;
}

a{
  text-decoration:none;
  color: #555;
}

p{
  color: black;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  justify-content: space-around;

  
}

.col-2 img{
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 50px 0;
}