.container {
    width: 80%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    justify-content: center;
    gap: 15px;
    >div {
    
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0px 15px;
        padding-bottom: 10px;
        border-radius: 15px;
        height: 200px;
        background-color: rgba(209, 209, 209, 0.486);

       >h3 {
        margin-right: 50px;

       }
        >span {
            width: 100%;
            height: auto;
        }

        >i {
            position: absolute;
            right: 10px;
            top: 15px;
            font-size: 15px;
            font-weight: 600;
        }
    }

    >div:last-child{
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;

        >button {
            border: none;
            cursor: pointer;
            background: transparent;
        }

        >span {
            text-align: center;
        }
    }
}


.btncontainer {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    > button:first-child{
        margin-left: auto;
    }
    > button {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    > button:hover{
        scale: 1.08;
    }
}

input[type="checkbox"] {
    appearance: none;
    margin-right: 15px;
    width: 46px;
    height: 25px;
    border: 2px solid rgb(107, 102, 102);
    border-radius: 20px;
    transform: translate(0px, 10px);
    position: relative;


    background: linear-gradient(to right, rgba(19,247,255,1) 50%, rgba(19,247,255,0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;


    transition: 0.3s ease;
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -51%);
    border-radius: 100%;
    width: 22px;
    height: 22px;
    background: white;
    transition: 0.3s ease;
}


input[type="checkbox"]:checked {
    background-position: 0 0;
}


input[type="checkbox"]:checked::after {
    left: calc(100% - 22px);
}
