main{
    padding:0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#cancel-form{
    border: 2px solid black;
    border-radius: 5px;
    padding: 1.5rem;

}

input[type='radio']{
    outline: none;
}

label {
    user-select: none;
    margin-left: 5px;
    font-weight: 500;
}

form {
    width: 50%;

    > p:first-child{
        font-size: 1.2rem;
        font-weight: bold;
    }

    > button {
        cursor: pointer;
        float: right;
        background: rgba(255, 130, 21, 1);
        border-radius: 8px;
        border: none;
        height: 35px;
        width: 85px;
        margin-top: 15px;

        font-size: 15px;
        font-weight: bold;
        color: white;
        transition: 0.3s ease;
    }

    > button:hover {
        background: rgb(217, 113, 21);
    }
}