:root {
 --lessImportant : rgb(90, 90, 90);
 --barColor : rgb(85, 221, 255);
 --hoverColor : rgba(243, 243, 243, 0.699);
 --statusDone : rgba(29, 204, 29, 1);
 --statusNotDone : rgba(221, 214, 214, 0.514);
 --pending : rgba(255,177,0,1);
}


::-webkit-scrollbar {
    width:  10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #46464611; /* Darker thumb */
    border-radius: 50px;
    opacity: 0.3;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    background: #3d3d3d75; /* Darker on hover */
}

h1 {
    transform:  translateY(30px);
    font-family: system-ui;
    font-weight: bold;
}

form {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-left: 20px;



    > #form-button-container {
        display:flex;
        width: 95%;
        gap: 5px;

        >button {
            border: 2px solid rgba(118, 118, 118, 0.485);
            border-radius: 5px;
            height: 30px;
            width: 50%;
            cursor: pointer;
            font-weight: 600;
            background: white;
            color: var(--lessImportant);
        }

        >button:last-child{
            margin-left: auto;
            background: rgba(255, 130, 21, 1);
            color: white;
        }
    }

    > label {
        display: inline-block;
        color: white;
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    
    .pricediv{
        display: flex;
        flex-direction: column;
        gap: 5px;
        > div {
            margin-bottom: 10px;
            >label {
                display:inline-block;
                text-align: center;
                color: white;
                user-select: none;
                margin-left: 5px;
            }
        }
    }


    .datediv{
        display: flex;
        flex-direction: column;
        gap: 5px;
        > div {
            margin-bottom: 10px;
            >label {
                
                display:inline-block;
                text-align: center;
                color: white;
                user-select: none;
                margin-left: 5px;
            }
        }
    }

    .statusdiv{
        display: flex;
        flex-direction: column;
        gap: 5px;
        > div {
            margin-bottom: 10px;
            >label {
                display:inline-block;
                text-align: center;
                user-select: none;
            }
        }

        input{
            position: relative;
            width: 15px;
            height: 15px;
            outline: none;
            appearance: none;
            -webkit-appearance: none;
        }

        input::before{
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            background-color: transparent;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 5px;
            transform: translateY(2px);
        }

        input::after{
            position: absolute;
            content: "";
            width: 0px;
            height: 0px;

            background-color: transparent;
            border: none;
            border-top: none;
            border-right: none;
            transform: translate(2px, 5px) rotate(-45deg);

            transition: height 0s ease, width .2s ease, transform 0.2s ease;
            
        }

        input:checked::after{
            border: 3px solid rgb(255, 255, 255);
            border-top: none;
            border-right: none;

            transform: translate(2px, 0px) rotate(-45deg);
            width: 17px;
            height: 8px;
            
        }

       
    }


    .statuslabel.all{
        padding: 2px 10px;
        border: 2px solid rgb(48, 121, 255);
        color: rgb(48, 121, 255);
        background-color: rgba(48, 121, 255,0.2);
        border-radius: 30px;
        width: 70px;
        margin-left: 10px;
    }

    .statuslabel.delivered{
        padding: 2px 10px;
        border: 2px solid rgb(51, 255, 10);
        color:rgb(51, 255, 10);
        background-color: rgba(51, 255, 10, 0.2);
        border-radius: 30px;
        min-width: 50px;
        margin-left: 10px;
    }

    .statuslabel.intransit{
        padding: 2px 10px;
        border: 2px solid rgb(227, 16, 255);
        color: rgb(227, 16, 255);
        background-color: rgba(148, 16, 255,0.2);
        border-radius: 30px;
        min-width: 50px;
        margin-left: 10px;
    }

    .statuslabel.pending{
        padding: 2px 10px;
        border: 2px solid rgb(255, 156, 8);
        color:rgb(255, 156, 8);
        background-color: rgba(255, 156, 8, 0.2);
        border-radius: 30px;
        min-width: 50px;
        margin-left: 10px;
    }

    .statuslabel.canceled{
        padding: 2px 10px;
        border: 2px solid rgb(207, 207, 207);
        color:rgb(207, 207, 207);
        background-color: rgba(219, 219, 219, 0.2);
        border-radius: 30px;
        min-width: 50px;
        margin-left: 10px;
    }

    .radio {
        width: 17px;
        height: 17px;
        outline: none;
        appearance: none;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 100%;
        position: relative;
        transform: translateY(2px);
    }

    .radio::after{
        content: "";
        position:absolute;
        top:50%;
        left:50%;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.3s ease;
    }

    .radio:checked::after{
        width: 7px;
        height: 7px;
        background-color: rgb(255, 255, 255);;
        border-radius: 100%;
        transform: translate(-50%, -50%) scale(1);
        transform-origin: center;
    }
}

.orders-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    height: auto;
    width: 85vw;
    max-width: 1000px;
    gap: 25px;
    padding-right: 10px;
    padding-top: 10px;
}



.order-header, .order {
    max-width: 1000px;
    min-width: 500px;
    overflow: hidden;
    padding-left: 7px;
    display: grid;
    grid-template-columns: 0.4fr 0.7fr 0.5fr 0.4fr 0.2fr;
    align-items: center;
    flex-shrink: 0;
}

.order-header {
    position: relative;
    top: 35px;
    width: 85vw;
    padding-right: 10px;
    padding-left: 0px;
    max-width: 1000px;
    grid-template-columns: 0.4fr 0.65fr 0.53fr 0.4fr 0.1fr;
}

.order span, .order-header span {
    align-content: center;
    overflow: hidden;
    height: 40px;
    color: var(--lessImportant);
    padding: 0px 35px;

}


.dropdown {
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-top: 10px;
}



main{
    margin-left: 220px;
}

.filtermenu{
    position: fixed;
    left:0px;
    height: calc(100vh - 80px - 80px);
    width: 220px;
    background-color: rgb(0, 0, 0);
    
    margin: 0;
    padding: 0px 0px;
}

.order svg{
    width: 20px;
    height: 20px;
    margin: 0 auto;
    fill: var(--lessImportant);
    transition: 0.5s ease;
}

.orderID {
    font-weight: 700;
}

.orderDate, .orderStatus {
    font-weight: 700;
    font-size: small;
}

.orderStatus {
    width: 150px;
    text-align: center;
}

.orderAddress {
    font-size: 14px;
}


.order {
    z-index: 1;
    position: relative;
    border-radius: 10px;
    height: 50px;
    background-color: white;
    transform: translateY(0);
    transition: 0.5s ease;
}

.order:hover {
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    background-color: var(--hoverColor);
}


.orderProgress { 
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: center;
    align-items: center;
}




